:root{
    --background-color: rgb(40, 53, 39);
    --nav-color: rgb(80, 97, 80);
    --dark-text: rgb(15, 20, 14);
    --color-text: rgb(32, 44, 30);
    --light-text: rgb(180, 199, 183);
    --white: rgb(212, 198, 198);
    --neon: rgb(69, 160, 73);
    --disabled-color: #9c9c9c;
    --disabled-background-color: #5d5d5d;
    --half-transparent-dark-text: rgba(32, 44, 30, 0.441);
}

/* MAIN */
body {
    margin: 0;
    background-color: var(--background-color);
    background-size: cover;
    font-size: clamp(14px, 1vw + 0.5rem, 18px);;
}

main {
    display: flex;
    height: 100vh;
    position: relative;
}

/* TEXT */
h1 {
    text-align: center;
    color: var(--dark-text);
    font-weight: 400;
    font-family: "Noto Sans", cursive;
    font-size: 1.8rem;
}
h2 {
    margin-top: -2rem;
    padding-top: 0;
    color: var(--color-text);
    text-align: center;
    font-family: "Indie Flower", cursive;
    font-size: 2rem;
}
p, div, button, input, label, select, option, span {
    color: var(--color-text);
    font-family: "Noto Sans", cursive;
    font-weight: 700;
    font-size: 1rem;
}
hr{
    border: none; 
    height: 0px; 
    margin: 0.8rem 0;
}
.info {
    color: var(--light-text);
}
#epoch {
    font-size: 2rem;
    font-family: "Indie Flower", cursive;
}

/* BUTTON */
button {
    background-color: rgb(80, 97, 80);
    border: none;
    color: rgb(212, 198, 198);
    font-weight: 500;
    transition: all 0.1s ease-in-out;
}
button:hover {
    transform: scale(0.9);
}
button:disabled{
    background-color: #5d5d5d;
    color: #909090;
    cursor: not-allowed;
    pointer-events: none;
    box-shadow: none;
}

/* NAVIGATION */
nav {
    flex: 0 0 clamp(250px, 22vw, 400px);
    padding: 0.6rem 2rem 3rem;
    background-color: var(--nav-color);
    box-shadow: 0.4rem 0px 0.7rem rgba(0, 0, 0, 0.236);
    overflow-y: scroll;
}

.hamburger {
    display: none;
    font-size: 2rem;
    width: 4.5rem;
    background-color: var(--nav-color);
    box-shadow: none;
    border: none;
    color: var(--white);
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    cursor: pointer;
}

nav::-webkit-scrollbar {
    width: 0.2rem; 
}
nav::-webkit-scrollbar-track {
    background: var(--nav-color);
}

nav::-webkit-scrollbar-thumb {
    background: var(--white);
    border-radius: 5px;
}

nav::-webkit-scrollbar-thumb:hover {
    background: var(--neon);
}

/* INPUTS */
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background: transparent;
    outline: none;
    transition: background 0.3s ease-in-out;
    margin-bottom: 0.6rem;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem; 
    height: 1rem;
    background: var(--neon);
    border-radius: 50%;
    cursor: pointer; 
    transform: translateY(-40%);
    z-index: 1;
    transition: background 0.1s ease-in-out;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 0.3rem;
    border-radius: 0.4rem;
    background: linear-gradient(to right,  var(--neon) var(--value, 50%), var(--white) var(--value, 50%));
}

input[type="range"]:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

input[type="range"]:disabled::-webkit-slider-runnable-track {
    background: var(--disabled-color);
}

.custom-select {
    position: relative;
    width: 100%;
}

select {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--nav-color);
    border: none;
    color: var(--white);
    width: 100%;
    font-weight: 500;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    position: relative;
}

button, select {
    border-radius: 0.3rem;
    padding: 0.5rem 1.2rem;
    box-shadow: 0.1rem 0.08rem 0.15rem var(--half-transparent-dark-text);
}

select::-ms-expand {
    display: none;
}

.custom-select::after {
    content: '▼';
    position: absolute;
    right: 0.7rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--color-text);
    font-size: 1rem;
}

select option {
    padding: 0.6rem;
    font-weight: 600;
    background-color: var(--nav-color);
    color: var(--white);
    font-size: 1rem;
}

*:disabled {
    background-color: var(--disabled-background-color);
    color: var(--disabled-color);
    cursor: not-allowed;
    pointer-events: none;
    box-shadow: none;
}

input[type="checkbox"] {
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 0.2rem;
}


/* CANVAS */
.main-content{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 96%;
    padding-top: 1rem;
}

.canvas-container {
    width: 96%;
    height: 96%;
    position: relative;
    align-self: center;
}

#canvas {
    width: 100%;
    height: 100%;
}

/* WORD MAP */
svg {
    position: absolute;
    width: 100%;
    height: 100%;
}

path {
    transition: fill 0.2s;
}


@media(max-width: 1000px) {
    nav {
        display: none;
    }
    
    .hamburger {
        display: block;
        z-index: 12;
    }
    
    nav.active {
        display: block;
        position: absolute;
        padding-top: 3.5rem;
        bottom: 0;
        top: 0;
        z-index: 10;
    }

    .button-div{
        width: 100%;
        height: 3rem;
        background-color: var(--nav-color);
        position: absolute;
    }

    .canvas-container {
        width:  100%;
        height: 80%;
    }
}

@media(max-width: 600px){
    .canvas-container {
        width: 90vh; 
        height: 80vw;
        transform: rotate(90deg);
        transform-origin: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
    }

    svg, #canvas {
        width: 100%;
        height: 100%;
    }
}