/* MAIN */
body {
    margin: 0;
    background-color: rgb(40, 53, 39);
    background-size: cover;
}

main {
    display: flex;
    height: 100vh;
}


/* NAVIGATION */
nav {
    background-color: rgb(80, 97, 80);
    height: 100%;
    width: 450px;
}


/* CANVAS */
.main-content{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(world.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#canvas {
    width: 1400px;
    height: 860px;
    position: relative; 
}