<!DOCTYPE html>
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TSP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}" defer></script>
</head>
<body>
    <main>
        <nav>
            <input type="range" id="pointRange" min="1" max="100" value="10" step="1">
            <span id="pointCount">10</span>
            <button id="calculate">Calculate</button>
        </nav>
        <div id="mainContent" class="main-content">
            <div id="canvas"></div>
        </div>
    </main>
    <footer></footer>
</body>
</html>