<!DOCTYPE html>
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Noto+Sans:wght@100..900&display=swap" rel="stylesheet">
    <title>TSP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}" defer></script>
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>
    <main>
        <nav>
            <h1>TRAVELLING SALESMEN<h1>
            <h2>Problem?</h2>
            <button id="manual">Manual</button>
                <input type="range" id="pointRange" min="1" max="200" value="10" step="1">
                <span class="tooltip" id="pointCount">10</span>
            </div>
            <hr>
            <div class="info" id="possiblePaths">Possibiliities: 0</div>
            <div class="info" id="elapsedTime">Elapsed: 0</div>
            <hr>
            <form id="algorithmForm">
                <div class="custom-select">
                    <select id="algorithmSelect" name="algorithm">
                        <option value="" disabled selected>Algorithm</option>
                        <option value="greedy">Greedy</option>
                        <option value="random">Random</option>
                        <option value="genetic">Genetic</option>
                    </select>
                </div>
                <hr>
                <div id="randomOptions" style="display: none;">
                    <input type="checkbox" id="averageCheck" />
                    <label for="averageCheck">CALCULATE AVERAGE</label>
                    <hr>
                    <div id="averageCountInput" style="display: none;">
                        <label for="averageRange">NUMBER OF SOLUTIONS</label>
                        <input type="range" id="averageRange" value="10" min="1" max="100" step="1">
                        <span id="averageCount">10</span>
                    </div>
                </div>
                <div id="geneticOptions" style="display: none;">
                        <div class="info" id="epoch">Epoch: </div>
                        <div class="info" id="bestDistance">Best: 0</div>
                        <div class="info" id="worseDistance">Worst: 0</div>
                        <div class="info" id="averageDistance">Average: 0</div>
                        <hr>
                        <label for="populationSize">POPULATION SIZE</label>
                        <input type="range" id="populationRange" value="50" min="3" max="200" step="1">
                        <span id="populationCount">50</span>
                        <hr>
                        <label for="greedyRatio">GREEDY RATIO</label>
                        <input type="range" id="greedyRange" value="20" min="0" max="100" step="1">
                        <span id="greedyCount">20</span>
                        <hr>
                        <div class="custom-select">
                            <select id="selectionSelect" name="selection">
                                <option value="" disabled selected>Selection</option>
                                <option value="tournament">Tournament</option>
                                <option value="roulette">Roulette</option>
                            </select>
                        </div>
                        <hr>
                        <div id="tournamentSizeInput" style="display: none;">
                            <label for="tournamentSizeRange">TOURNAMENT BATCH</label>
                            <input  type="range" id="tournamentSizeRange" value="5" min="3" max="50" step="1">
                            <span id="tournamentSizeCount">5</span>
                        </div>
                        <hr>
                        <input type="checkbox" id="eliteCheck" />
                        <label for="eliteCheck">ELITE</label>
                        <hr>
                        <div id="eliteSizeInput" style="display: none;">
                            <label for="eliteSizeRange">NUMBER OF ELITES</label>
                            <input type="range" id="eliteSizeRange" value="5" min="3" max="50" step="1">
                            <span id="eliteCount">5</span>
                        </div>
                        <hr>
                        <div class="custom-select">
                            <select id="crossoverSelect" name="crossover">
                                <option value="" disabled selected>Crossover</option>
                                <option value="ordered">Ordered</option>
                                <option value="partially matched">Partially matched</option>
                                <option value="cycle">Cycle</option>
                            </select>
                        </div>
                        <hr>
                        <div class="custom-select">
                            <select id="mutationSelect" name="mutation">
                                <option value="" disabled selected>Mutation</option>
                                <option value="swap">Swap</option>
                                <option value="inversion">Inversion</option>
                            </select>
                        </div>
                        <hr>
                        <label for="mutationRange">MUTATION PROBABILITY</label>
                        <input type="range" id="mutationRange" value="10" min="1" max="100" step="1">
                        <span id="mutationCount">10</span>
                        <hr>
                        <label for="epochRange">NUMBER OF EPOCHS</label>
                        <input type="range" id="epochRange" value="10" min="1" max="100" step="1">
                        <span id="epochCount">10</span>
                    </div>
                </form>
                <hr>
                <button id="playBtn">Play</button>
                <button id="pauseBtn" disabled>Pause</button>
                <button id="stopBtn" disabled>Stop</button>
                <div>
                    <hr>
                    <label for="speed">VISUALIZATION SPEED</label>
                        <input type="range" id="speed" min="0" max="100" step="1" value="1" />
                        <span class="tooltip" id="speedCount">1</span>
                    </div>
                </div>
        </nav>
        <div id="mainContent" class="main-content">
            <div id="canvas"></div>
        </div>
    </main>

</body>
</html>